:root {
  --main-color: #a020f0;
  --second-color: #ca9bca;
  --title-color: #222;
  --subtitle-color: #8d8d8d;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: 1000px;
  overflow-x: hidden;
  position: relative;
}

/* ==== header ==== */
/* ==== hero section ==== */
/* ==== about section ==== */
/* ==== project section ==== */
/* ==== footer ==== */
