:root {
  --main-color: #a020f0;
  --second-color: #ca9bca;
  --title-color: #222;
  --subtitle-color: #8d8d8d;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  height: 1000px;
  overflow-x: hidden;
  position: relative;
}

/* ==== header ==== */
header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
}

header.active {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  height: auto;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 40px;
  font-weight: 500;
}

.logo span {
  color: var(--main-color);
}

.menu {
  white-space: nowrap;
  transition: 0.5s;
  z-index: 999;
  position: relative;
}

.menu_item {
  display: inline-block;
}

.menu_link {
  padding: 5px 10px;
  position: relative;
  transition: 0.4s;
  color: #333;
  font-weight: 500;
}

.menu_link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scale(0);
  transition: 0.4s;
}

.menu_link:hover {
  color: var(--main-color);
}
.active-link {
  color: var(--main-color);
}
.menu_link.active-link::before,
.menu_link:hover::before {
  transform: scale(1);
}

.close_icon {
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 250px;
  z-index: 1000;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.toggle_icon {
  font-size: 32px;
  display: none;
  cursor: pointer;
  margin-right: 10px;
}
/* ==== hero section ==== */
.hero {
  padding-top: 114px;
  position: relative;
  display: block;
}

.hero_container {
  align-items: center;
}

.hero_container h4 {
  font-size: 26px;
  font-weight: 600;
  color: var(--title-color);
}

.hero_container h4 span {
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
  text-transform: uppercase;
}

.hero_container h1 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  margin-bottom: 10px;
  color: var(--title-color);
}

.hero_container h1 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.hero_container p {
  margin: 10px 0 40px;
  color: #333;
  font-size: 18px;
}

.hero_container .btn {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.hero_social {
  display: flex;
  column-gap: 20px;
}

.hero_social a {
  font-size: 22px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #333;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero_social a:hover {
  color: var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}

.hero_img {
  text-align: right;
}

/* ==== about section ==== */
/* ==== project section ==== */
/* ==== footer ==== */
